# Prerequisites
*.d
*.layout
*.depend

# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
bin/Debug
android/app/build
android/app/.externalNativeBuild

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app

#Android
Android_SDL2_sources